.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maquina-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    width: 450px;
    height: 800px;
    background-color: gray;
    border: 4px solid #3c3737;
}
.prateleiras-container {
    width: 400px;
    height: 600px;
    background-color: rgb(110, 253, 255,0.4);
    margin: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.central-controle {
    padding: 0 25px 0 25px;
    width: -webkit-fill-available;
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display {
    width: 100px;
    height: 30px;
    background-color: rgb(36, 96, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}
.primeira-prateleira,
.segunda-prateleira,
.terceira-prateleira {
    border-bottom: 4px solid black;
    width: 100%;
}
.logo {
    position: absolute;
    top: 80%;
    left: 47%;
    font-size: 40px;
    color: #fff;
    text-shadow:#000 4px 0px, #000 7px 1px, #000 9px 0px, #000 9px 0px;
    font-weight: bolder;
}